@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(26, 26, 26);
  font-family: "Press Start 2P", sans-serif;
}

.scores,
.record {
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0;
  justify-content: center;
}

.general-panel {
  display: flex;
}

.main-game {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.genius {
  display: grid;
  grid-template-areas:
    "green red"
    "yellow blue";
  grid-gap: 30px;
  border: 30px solid rgb(8, 8, 8);
  background-color: rgb(50, 50, 50);
  border-radius: 100%;
  width: 700px;
  height: 700px;
}

.blue {
  grid-area: blue;
  background-color: blue;
  border-bottom-right-radius: 100%;
  background: radial-gradient(
    circle 1px at -5% 0%,
    transparent,
    transparent 150px,
    blue 150px
  );
}
.red {
  grid-area: red;
  /* background-color: red; */
  border-top-right-radius: 100%;
  background: radial-gradient(
    circle 1px at -5% 105%,
    transparent,
    transparent 150px,
    red 150px
  );
}
.yellow {
  grid-area: yellow;
  background-color: yellow;
  border-bottom-left-radius: 100%;
  background: radial-gradient(
    circle 1px at 105% 0%,
    transparent,
    transparent 150px,
    yellow 150px
  );
}
.green {
  grid-area: green;
  /* background-color: green; */
  border-top-left-radius: 100%;
  background: radial-gradient(
    circle 1px at 105% 105%,
    transparent,
    transparent 150px,
    green 150px
  );
}

.selected {
  opacity: 0.2;
}

.btn {
  align-items: center;
  position: absolute;
  width: 180px;
  height: 100px;
  cursor: pointer;
  background-color: #eee;
  color: #222;
}

.btn:hover {
  background-color: #ccc;
}

.footer,
.header {
  color: white;
  text-align: center;
}
